//All styles can be added here.
html {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    scroll-behavior: smooth;
}

a {
    @apply outline-none rounded focus:ring;
}

.bg-header {
    background: url("../img/header-paper-mobile.png") no-repeat top left / cover;
}

@media screen and (min-width: 768px){
    .bg-header{
        background: url("../img/header-paper.png") no-repeat top left / cover;
    }
}
