//All styles can be added here.
html {
    font-family: 'Montserrat', sans-serif;
    min-width: 360px;
    scroll-behavior: smooth;
    background-color: lightgray;
}

html, nav  {
    max-width: 1500px;
    @apply mx-auto;
}

body {
    background: antiquewhite url(../img/body-bg.png);
}

header {
    min-height: 568px;
    background-color: #54222f;
    @media screen and (min-width: 768px) {
        min-height: 398px;
    }
    @media screen and (min-width: 1024px) {
        min-height: 530px;
    }
}

a {
    @apply rounded outline-none focus:ring;
}

.bg-header {
    background: url("../img/header-paper-mobile.png") no-repeat top left / cover;
}

@media screen and (min-width: 768px){
    .bg-header{
        background: url("../img/header-paper.png") no-repeat top left / cover;
    }
}

/* ------- Splider ------- */
.splide__slide img {
  @apply mx-auto;
}

.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.5;
}

.thumbnail.is-active {
  opacity: 1;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

